@model CoursesPlatform.Models.Teacher.Course.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <label for="Topic">Topic</label>
                <input type="text" name="Topic">
            </div>

            <div id="anchorElement"></div>
            
            <input type="button" value="add Text"
                onclick='addElementToPage(`<textarea class="inputElement" name="Elements[].Text"></textarea>`)'>

            <input type="button" value="add image"
                onclick='addElementToPage(`<input class="inputElement" type="file" name="Elements[].Image"/>`)'>

            <div>
                <input type="number" name="courseId" value='@ViewData["CourseId"]' hidden>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-courseId='@ViewData["CourseId"]'>Back to List</a>
</div>


@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script src="~/js/elementsController.js" asp-append-version="true"></script>