<h2>Личный кабинет</h2>

@if(User.IsInRole("employee"))
{
    <h3>Рабочий</h3>
}
@if(User.IsInRole("teacher"))
{
    <h3>Преподаватель</h3>
    <div>
        <a asp-action="Index" asp-controller="Courses">Курсы</a>
        <a asp-action="Index" asp-controller="CourseCategories">Категории курсов</a>
    </div>   
}
@if(User.IsInRole("admin"))
{
    <h3>Администрирование</h3>
    <div>
        <a asp-action="Index" asp-controller="Roles">Роли</a>
    </div>   
    <div>
        <a asp-action="Index" asp-controller="Users">Пользователи</a>
    </div>   
    <hr>
}

<a asp-area="" asp-controller="PersonalArea" asp-action="PersonalData">личные данные</a>
<a asp-controller="PersonalArea" asp-action="SubscribedCourses">Мои курсы</a>
<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>