@model CoursesPlatform.Models.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
@* <form asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form> *@

<section class="create-product-container">

    <h2>Добавить пользователя</h2>
    <div class="container-prosuct">

        <div class="row">
            <div class="col">

               

                <form asp-action="Create" asp-controller="Users">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="text-lable control-label">Email</label>
                        <input type="text" asp-for="Email" class="form-input form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="text-lable control-label">Пароль</label>
                        <input type="password" asp-for="Password" class="form-input form-control" />
                    </div>
                    <div class="product-cat-btn">

                        <div class="form-group d-inline">
                            <a asp-action="Index" class="input-back">Вернуться назад</a>
                        </div>
                        <div class="form-group d-inline">
                            <input type="submit" value="Сохранить" class="btn-create btn" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>