<div id="rule-saler"></div>
<section class="menu-nav">
    <nav id="navbar-mynavbar" class="justify-content-center navbar navbar-light">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="#rule-saler">Доствка и оплата</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#deal">Как сделать заказ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#privacy">Пользовательское соглашение</a>
            </li>

        </ul>
    </nav>
</section>

<section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
    data-offset="0">
    <div class="rule-element">
        <h2 class="text text-center"><span>01.</span> Доставка и оплата</h2>
        <table>
            <thead>
                <tr>

                    <th>
                        Доставка
                    </th>
                    <th>
                        Оплата
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p class="text-descript">
                            Для заказов с доставкой на территории РБ
                        </p>
                    </td>
                    <td>
                        <p class="text-descript">
                            • Доступна оплата на сайте или при получении.<br>

                            • Доступные способы оплаты: банковской картой, наличными, подарочными картами, возможно
                            применение бонусов.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-descript">
                            Быстрая доставка из магазина курьером</p>
                    </td>
                    <td>
                        <p class="text-descript">
                            Доступные способы оплаты: банковской картой, оплата на месте.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-descript">
                            Самовывоз из пунктов выдачи заказов курьерских служб. Перечень адресов выдачи доступен при
                            выборе данного способа доставки.

                        </p>
                    </td>
                    <td>
                        <p class="text-descript">Доступные способы оплаты: банковской картой при наличии технической
                            возможности, наличными,
                            применение бонусов невозможно. Подарочные карты к оплате не принимаются.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
    data-offset="0">
    <div id="deal"></div>
    <div class="rule-element">
        <h2 class="text text-center"><span>02.</span> Как сделать заказ</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <p class="text-descript">
                    Выберите нужный товар и его количество нажмите кнопку «Добавить в корзину». <br>
                    Перейдите в раздел «Корзина».<br>
                    Введите имеющийся у Вас промо-код и нажмите кнопку «Оформить заказ».<br>
                    Укажите Ваши контактные данные (Ф.И.О. получателя, телефон, электронную почту, город доставки) или
                    контактные данные получателя. <br>
                    Выберите адрес доставки. <br>
                    Выберите удобный способ оплаты. <br>
                    Нажмите кнопку «Оформить заказ». <br>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="soup" class="rule-container new-container" data-spy="scroll" data-target="#navbar-mynavbar"
    data-offset="0">
    <div id="privacy"></div>
    <div class="rule-element">
        <h2 class="text text-center"><span>03.</span> Пользовательское соглашение</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <p class="text-descript">
                    Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем
                    spacestore (далее Space Store или Администрация) с одной стороны и пользователем сайта с другой.
                    Сайт Space Store не является средством массовой информации.
                </p>
                <p class="text-descript">
                    Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
                    <b>Если Вы не согласны с условиями данного соглашения, не используйте сайт Il Piacere!</b>
                </p>
                <h3>Права сторон</h3>
                <h5>Пользователь имеет право:</h5>
                <p class="text-descript">
                    - осуществлять поиск информации на сайте<br>
                    - получать информацию на сайте<br>
                    - создавать информацию для сайта<br>
                    - распространять информацию на сайте<br>
                    - требовать от администрации скрытия любой информации переданной пользователем сайту<br>
                    - использовать информацию сайта в коммерческих целях с разрешения Администрации<br>
                </p>
                <h5>Администрация имеет право:</h5>
                <p class="text-descript">
                    - по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
                    - ограничивать доступ к любой информации на сайте<br>
                    - создавать, изменять, удалять информацию<br>
                    - удалять учетные записи<br>
                </p>
                <h3>Ответственность сторон</h3>
                <p class="text-descript">
                    - пользователь лично несет полную ответственность за распространяемую им информацию<br>
                    - администрация не несет никакой ответственности за достоверность информации, скопированной из
                    других источников<br>
                    - администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально
                    полученных услуг<br>
                    - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
                    - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение,<br>
                    стихийное бедствие и т. д.) Администрация не гарантирует сохранность информации, размещённой
                    Пользователем, а также бесперебойную работу информационного ресурса
                </p>
                <h3>Условия действия Соглашения</h3>
                <p class="text-descript">
                    Данное Соглашение вступает в силу при регистрации на сайте.
                    Соглашение перестает действовать при появлении его новой версии.
                    Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по
                    своему усмотрению.
                    Администрация не оповещает пользователей об изменении в Соглашении.
                </p>
            </div>
        </div>
    </div>
</section>