<section class="about-element container-fluid">
    <div class="container-fluid">

        <div class="text-container">
            <h1 class="text-title"><span>О нас</span></h1>
            <div class="text-content">
                <p class="discription">
                    В ресторане <span>Il Piacere</span> прямо у Вас на глазах приготовят пиццу в дровяной печи.
                    Сочная начинка с
                    пылу-жару будет мягко шкварчать на тонком хрустящем тесте, источая аромат дыма от фруктовых
                    деревьев. Откусив кусочек, Вы чувствуете вкус свежих помидоров и приправ: базилик, орегано,
                    майоран. А ниточки от тягучего сыра у нас самые длинные в городе. Приходите и убедитесь
                    сами!
                </p>
            </div>
        </div>

        <div class="image-container">
            <img src="/Images/aboutus.png" alt="main">
        </div>
    </div>
</section>
<section class="contact-container">
    <h2 class="text-center">Контакты</h2>
    <table class="table text-center">
        <tbody>
            <tr>
                <td>
                    <i class="fa fa-phone"></i><br>
                    <span class="title-info">Контакты</span>

                    <p>+375 29 852-96-32</p>
                </td>
                <td>
                    <i class="fa fa-map-marker"></i><br>
                    <span class="title-info">Адрес</span>
                    <p>
                        Бизнес-центр Royal Plaza (Роял Плаза)
                        <br>пр-т. Победителей 7А, Минск
                    </p>
                </td>
                <td>
                    <i class="fa fa-envelope-o"></i><br>
                    <span class="title-info">E-mail</span>
                    <p>entegar@gmail.com</p>
                </td>

            </tr>
            <tr>
                <td colspan="3">Время работы: с 10:00 до 22:30</td>

            </tr>

        </tbody>
    </table>
    <div class="map">

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.3553454335183!2d27.54750441582859!3d53.90766118010051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfecd23ba061%3A0x38a542eb7d623a7b!2z0JHQuNC30L3QtdGBLdGG0LXQvdGC0YAgUm95YWwgUGxhemEgKNCg0L7Rj9C7INCf0LvQsNC30LAp!5e0!3m2!1sru!2sby!4v1622991836200!5m2!1sru!2sby"
            width="1100" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>