@model CoursesPlatform.Models.ViewModels.RegisterViewModel

@* <h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Регистрация" />
    </div>
</form> *@


<section class="account-log-reg container-myself-info">

    <h2>Зарегистрироваться</h2>
    <div class="container-prosuct">

        <div class="row">
            <div class="col">

                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="text-lable control-label"></label><br />
                        <input asp-for="Email" class="form-input  form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="text-lable control-label"></label><br />
                        <input asp-for="Password" class="form-input  form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="text-lable control-label"></label><br />
                        <input asp-for="PasswordConfirm" class="form-input  form-control"/>
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="btn-reg">
                        <input type="submit" value="Регистрация" class="btn btn-outline-pink" />
                    </div>
                </form>

                @* <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>


                    <div class="form-group">
                        <label asp-for="Email" class="text-lable control-label"></label>
                        <input asp-for="Email" class="form-input  form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="text-lable control-label"></label>
                        <input asp-for="Password" class="form-input  form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe" class="text-lable control-label"></label>
                    </div>
                    <div class="btn-log">
                        <input type="submit" value="Войти" class="btn btn-outline-pink" />
                    </div>
                    <div class="text-center">
                        <a asp-controller="Account" asp-action="ForgotPassword" class="forgot-pass">Забыли пароль?</a>
                    </div>
                </form> *@
            </div>
        </div>
    </div>
</section>